@page "/works"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using WorkManage.Data
@using WorkManage.Data.Models
@inject IDbContextFactory<WorkManage.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Работы</h1>

<p>
    <a href="@($"works/create?masterid={MasterId}")">Добавить</a>
</p>

<div>
    <a href="@($"masters")">Back to List</a>
</div>

<QuickGrid Class="table" Items="context.Works.Where(x => x.MasterId == MasterId)">
    <PropertyColumn Property="work => work.Master.LastName + ' ' + work.Master.FirstName + ' ' + work.Master.Patronymic" Title="ФИО мастера" />
    <PropertyColumn Property="work => work.Name" Title="Название" />

    <TemplateColumn Context="work">
        <a href="@($"workstages?workid={work.Id}")">Стадии</a> |
        <a href="@($"works/edit?workid={work.Id}")">Изменить</a> |
        <a href="@($"works/details?workid={work.Id}")">Подробно</a> |
        <a href="@($"works/delete?workid={work.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    [SupplyParameterFromQuery]
    int? MasterId { get; set; }

    Master Master { get; set; }

    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        Master = context.Masters.FirstOrDefault(x => x.Id == MasterId);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
